---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Resume" sideBarActiveItemID="cv">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Profile</div>
  </div>

  <div class="mb-10 text-justify">
    I fix phones, laptops, and all kinds of electronics, and I also install solar systems. 
    My goal is to give you quick, reliable, and affordable solutions that last. Whether it’s 
    a broken device or a new solar setup, I’m here to help.
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="Federal University of Technology, Minna"
      subtitle="Bachelor of Engineering – BE, Electrical and Electronic Engineering"
    />

  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experience</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Internship Trainee at Carlcare Nigeria"
      subtitle="From [Start Date] to [End Date] at [Company], [City], [Country]"
    >
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.
    </TimeLineElement>
    <TimeLineElement
      title="Job Title at Project or Company Name"
      subtitle="From [Start Date] to [End Date] at [Company], [City], [Country]"
    >
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.
    </TimeLineElement>
    <TimeLineElement
      title="Job Title at Project or Company Name"
      subtitle="From [Start Date] to [End Date] at [Company], [City], [Country]"
    >
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.
    </TimeLineElement>
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Certifications</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      <a href="#" target="_blank"> Certification Name (with link)</a>
    </li>
    <li>
      <a href="#" target="_blank"> Certification Name (with link)</a>
    </li>
  </ul>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Skills</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6">
    <li>Electronic Repair</li>
    <li>Soldering</li>
    <li>Micro Soldering</li>
    <li>IT Hardware Support</li>
    <li>Hardware Installation</li>
    <li>Solar Installation</li>
    <li>Computer Hardware Troubleshooting</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
  </ul>
</BaseLayout>
